alias q='c ..'
alias f='c .'
alias y='cd_into_project'
alias w='histfzf'
alias s='pwdcb'
alias r='trash-put'
alias tl='trash-list'
alias tt='trash-restore'
alias te='trash-empty'
alias e='$EDITOR'
alias se='sudoedit'
alias bth='bluetoothctl'
alias m='mkdir'
alias d='dragon-drop'
alias t='touch'
alias c='cdor'
alias h='helpor'
alias pth='showpath'
alias l='lalpager'
alias z='atool'
alias x='nsxiv'
alias zb='zig build'
alias sx='startx'
alias cht='cheatsheet'
alias p='pacman'
alias sp='sudo pacman'
alias po='pacman -Qo'
alias sd='systemctl'
alias re='reset'
alias cm='configure_mouse'
alias fbsl='find . -xtype l'
alias ds='c ~/dotfiles'
alias stow='stow -v'
alias rme='cat <(echo "Explicitly installed packages on: $(date)") <(p -Qe | cut -d" " -f1) > ~/dotfiles/README.txt'
alias rez='source ~/.zshrc'
alias la='ls -a'
alias lsl='ls -l'
alias lal='ls -al'
alias ll='ls -a --hyperlink'
alias lt='ls -a --tree --hyperlink'
alias fa='fd -H'
alias mx='chmod a+x'
alias cl='clear && la'
alias cbi='xclip -i -sel clip -r'
alias xdgd='xdg-mime query default'
alias xdgt='xdg-mime query filetype'
alias wt='curl wttr.in/Herzlia'
alias ls='eza -bhgx --icons=never --no-quotes --group-directories-first -s name'
alias rg='rg --line-number --smart-case --hidden'
alias inxi='inxi --basic --usb'
alias df='df -kHT'
alias rm='rm -Iv'
alias mv='mv -v'
alias cp='cp -v'
alias ln='ln -iv'
alias mkdir='mkdir -pv'
alias diff='diff --color=auto'
alias zigup='zigup --install-dir ~/managed/zig --path-link ~/.local/bin/zig'
alias type='type -a'
alias dragon-drop='frk dragon-drop -x -T'
alias bat='bat -pn'
alias nsxiv='frk nsxiv -a --anti-alias=no'
alias trash-put='trash-put -v'
alias g='git'
alias gc='git clone'
alias gco='git checkout'
alias gs='git status'
alias gg='gitui'
alias aa='add_alias'
alias rezp='source ~/.zprofile'
alias emacs='frk emacsclient -c -a "emacs"'
alias rp='realpath'
alias tm='tmux'
alias a='alias'
alias ka='killall'
alias fl='file'
alias v='fd_clipboard .'
alias b='bat'
alias py='python'
alias bt='btop'
alias o='ollama'
alias j='jobs'
alias frk='setsid -f >/dev/null 2>/dev/null'
